* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wallet_button {
  font-size: 14px;
  color: #fff;
  background: transparent linear-gradient(180deg, #639ded 0%, #3c76c6 100%) 0%
    0% no-repeat padding-box;
  border-radius: 4px;
}
