.sectionOne,
.sectionTwo,
.sectionThree {
  padding: 15vh 8vw;
  background-image: url("/img/bg/bg-section-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionTwo {
  background-image: url("/img/bg/bg-section-2.png");
}

.sectionThree {
  background-image: url("/img/bg/bg-section-3.png");
}

.homeTimer {
  display: inline;
  background: #12161c;
  border-radius: 4px;
}

.cardBox {
  color: #000;
  width: 386px;
  border-radius: 16px;
  background: #ffff;
}

.cardDescription {
  color: #707a8a;
  font-size: 12px;
}

.spacing:not(:last-child) {
  margin-right: 15px;
}

@media only screen and (max-width: 769px) {
  .spacing:not(:last-child) {
    margin-right: 0;
  }
}
